# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GenSV\bidv-qlhdkh-service\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
